@{
    ViewData["Title"] = "Roles Page";
}
<div class="text-center">
    <h1 class="display-4">Disfruta esta pelicula mientras esperas que el administrador te de un rol</h1>
</div>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oODmA_ZciP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
