@model ASP.NETCoreIdentityCustom.Models.Proyecto

@{
    Layout = null;
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaCliente" class="control-label"></label>
                <select asp-for="CedulaCliente" class="form-control" asp-items="ViewBag.CedulaCliente"></select>
                <span asp-validation-for="CedulaCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRiesgo" class="control-label"></label>
                <input asp-for="TipoRiesgo" class="form-control" />
                <span asp-validation-for="TipoRiesgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/images/jj.png" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/css/register-a_c.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <header>Editar Proyecto</header>
        <form form id="registerForm" asp-route-returnUrl="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form first">
                <div class="details personal">
                    <span class="title">Datos del Proyecto</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nombre</label>
                            <input asp-for="Nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                            <p id="v1"></p>
                        </div>
                        <div class="input-field">
                            <label asp-for="CedulaCliente" class="control-label"></label>
                            <select asp-for="CedulaCliente" class="form-control" asp-items="ViewBag.CedulaCliente"></select>
                        </div>

                        <div class="input-field">
                            <label>Tipo de riesgo</label>
                            <input asp-for="TipoRiesgo" />
                            <span asp-validation-for="TipoRiesgo" class="text-danger"></span>
                            <button class="Guardar">
                                <span class="btnGuardar"><a value="Create" id="registerSubmit" type="submit">Editar</a></span>
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</body>
</html>
