*{
    font-family: 'poppins' ,sans-serif;
}
body{
    /* background-image: url("images/1.jpg"); */
    background-color: #282A2A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
:root {
    --azul-opacidad: #184463;
    --bg-body: #C7E1FF;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: var(--bg-body);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: var(--azul-opacidad);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: var(--bg-body);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.img{
    justify-content: center;
}
label a{
    text-decoration: none;
    color: #fff;
}
