@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a <img src="~/images/jj.png" alt="Logo" style="width: 1em; height: 1em; vertical-align: middle;" /> AGUDELO</h1>
</div>
