@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/login.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Paracelsoft</title>
</head>
<body>
    <form id="account" method="post">
        <div class="box">
            <div class="container">
                <div class="top">
                    <center><img src="~/images/jj.png" alt="" width="100" height="100"></center>
                    <header>Bienvenido</header>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-field">
                    <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="Usuario" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="input-field">
                    <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="Contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="input-field">
                    <button id="login-submit" type="submit" class="submit">Ingresar</button>
                </div>

            </div>
        </div>
    </form>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
