@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/images/jj.png" />
    <title>@ViewData["Title"] - Paracelsoft</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/css/register-a_c.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <header>Registrar Usuario</header>
        <form form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form first">
                <div class="details personal">
                    <span class="title">Datos del Usuario</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>NOMBRE</label>
                            <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            <p id="v1"></p>
                        </div>
                        <div class="input-field">
                            <label>APELLIDO</label>
                            <input asp-for="Input.LastName" autocomplete="lastname" aria-required="true" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="input-field">
                            <label>DIRECCIÓN</label>
                            <input type="text" placeholder="">
                            <p id="v5"></p>
                        </div>
                        <div class="input-field">
                            <label>CORREO</label>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="input-field">
                            <label>CONTRASEÑA</label>
                            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="input-field">
                            <label>CONFIRMAR CONTRASEÑA</label>
                            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="Guardar">
                            <span class="btnGuardar"><a id="registerSubmit" type="submit">Registrar</a></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
